main{
    width: 1200px;
    margin: 0 auto;
}

/* nav bar style start */

.nav-container{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.logo{
    display: flex;
}
.school{
    font-weight: bold;
    font-size: 25px;
}
.nav{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.btn{
    background-color: orange;
    font-weight: 800;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}

@media screen and (max-width: 576px) {
    /* .school{
        display: none;
    }
    .nav{
        display: none;
    }
    .btn{
        display: none;
    }
    .logo{
        float: left;
    } */
     .hide{
        display: none;
     }

    
}

/* hero section style start*/

.container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.text{
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}
.title{
    font-weight: bold;
    font-size: 50px;
}

.title-part01{
    color: orange;
}
.title-part02{
    color: skyblue;
}
.btn02{
    background-color: black;
    font-weight: 800;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}
.para-color{
    color: gray;
}

@media screen and (max-width: 576px) {
    .container{
        flex-direction:column-reverse;
        /* align-items: center; */
        margin-left: 0 auto;
        width: 350px;
        
    }
    .text{
        /* align-items: center;
        justify-content: center; */
        text-align: center;
    }
    
}



