main{
    width: 1200px;
    margin: 0 auto;
}

/* nav bar style start */

.nav-container{
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.logo{
    display: flex;
}
.school{
    font-weight: bold;
    font-size: 25px;
}
.nav{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    
}
.home{
    color: orange;
}
.about{
    color: skyblue;
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.btn{
    background-color: orange;
    font-weight: 800;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}

@media screen and (max-width: 576px) {
    
     .hide{
        display: none;
     }
     .nav-container{
        width: 350px;
     }

    
}

/* nav bar style end */



/* hero section style start*/



.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 200px;
    
}
.text{
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding-left: 0px; 
    margin-left: 0px;
}
.title{
    font-weight: bold;
    font-size: 50px;
}

.title-part01{
    color: orange;
}
.title-part02{
    color: skyblue;
}
.btn02{
    background-color: black;
    font-weight: 800;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}
.para-color{
    color: gray;
}

@media screen and (max-width: 576px) {
    .container{
        flex-direction:column-reverse;
        align-items: center;
        margin-left: 0 auto;
        width: 300px;
        margin-left: 0px;
        gap: 0px;
        
    }
    .hero-img{
        width: 300px;
        margin-left: 0px;
    }
    main{
        width: 300px;
        margin-left: 0px;
    }
    
    .text{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 150px;
    }
    
}

/* hero section style end*/

/* Standard Curriculum style start*/

/* .standerd-curriculam{
    background-image: url(assets/bg.png);
    max-width: 1200px;
    margin: 0 auto;
} */

.three-cart{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.cart-title{
    text-align: center;
    font-size: 40px;
}
.kinder{
    width: 360px;
    height: 420px;
    border-radius: 10px;
    background-image: linear-gradient(#DEF5FF, white );
    justify-items: center;
    text-align: center;
    padding-top: 100px;
    
    
}
.kinder-read{
    color: #64C8FF;
}
.elementary{
    width: 360px;
    height: 420px;
    border-radius: 10px;
    background-image: linear-gradient(#FFF4DC, white );
    justify-items: center;
    text-align: center;
    padding-top: 100px;
}
.elementary-read{
    color: #F0AA00;
}
.middle{
    width: 360px;
    height: 420px;
    border-radius: 10px;
    background-image: linear-gradient(#F2E8FF, white );
    justify-items: center;
    text-align: center;
    padding-top: 100px;
}
.middle-read{
    color: #8700FF;
}

.left-arrow{
    width: 50px;
}
.right-arrow{
    width: 50px;
}
.arrow{
    padding-left: 900px;
}


@media screen and (max-width: 576px){
    .three-cart{
        flex-direction: column;
        width: 300px;
        align-items: center;
    }
    .arrow{
        display: none;
    }
}


/* Standard Curriculum style end*/


.our-stories{
    max-width: 1200px;
    margin: 0 auto;
    background-image:repeating-linear-gradient(white, #FFDEA4);
    display: flex;
    justify-content: space-between;
    
    
    
}
.a-fun-toddler{
    width: 550px;
    height: 550px;
    background-color: white;
    border-radius: 10px;

}

.story-02{
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
}
.story-03{
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
}
.story-04{
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
}
.story-05{
    width: 300px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
}
.story-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


